# Исключение виртуального пространства
venv/

# Исключение файлов конфигурации и токенов
config.py
*.env

# Исключение данных пользователей и логов
data/users.json
data/logs/

# Исключение временных и служебных файлов Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключение файлов IDE (например, VS Code)
.vscode/
.idea/

# Исключение файлов операционной системы
.DS_Store
Thumbs.db
